* {
    padding: 0px;
    margin: 0px;
}
#header{
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(27, 27, 235, 0.699);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
h1{
    font-size: 36pt;
}
.city {
    text-decoration: none;
    font-size: 20pt;
    height: 40px;
    padding: 5px;
    margin-left: 0px;
    margin-right: 10px;
    color: white;
}
#mainContent{
    margin: 0 auto;
    width: 80vw;
}
#sanJose{
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 5px;
}
#sanJose h2{
    font-size: 29pt;
}
#tempUnitSelector{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
}
#days{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.day{
    margin: 30px 0px;
    padding: 20px;
    background-color: gray;
    color: white;
    width: 300px;
    height: 400px;
    text-align: center;
}
.day h3{
    font-size: 24pt;
}
.day img{
    border-radius: 50%;
    width: 180px;
    margin-top: 30px;
}
.day p{
    margin-top: 20px;
    font-size: 20pt;
}
.temps{
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-around;
    font-size: 16pt;
}
.high{
    color: red;
}
.low{
    color: blue;
}
#message{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    width: 50%;
    padding: 5px;
    position: fixed;
    left: 25%;
    top: 75%;
}
#bigWarning{
    font-size: 20pt;
    font-weight: bolder;
}
#message button{
    width: 100px;
}